body{
	margin:0;
	padding:0;
}

/*Etilo do menu*/
.menu_top{
	/*position: fixed;*/
	background: #5217AE;
	margin:0;
	padding:0;
}
.menu_top ul{
	list-style:none;
	padding: 0px;
	margin: 0px;
}
.menu_top ul li{
	display: inline;
}
.menu_top ul li a{
	padding: 15px 30px;
    display: inline-block;
    color: #FFFFFF;
    font-family: Arial;
    text-decoration: none;   
}

/*Fim do estilo do menu*/

/*Estilo da logo*/
.logo_top img{
	width:100px;
	margin: 10px 10px 0px 10px;
	}
.logo_top p{
	font-family: Arial;
	color: #FFFFFF;
	margin-top:0;
}
.logo_top{
	background:#815ABD;
	padding:5px;
}
/*Fim do estilo da logo*/


/*Estilo do header*/
.header_top{
	background: #EDEDED;
}
.header_top h1{
	
}

/*Fim do estilo do header*/

/*Estilo da seção institucional*/
.section_inst img{
	width:100%;
}

/*Fim da seção institucional*/

/*Estilo da seção serviços*/
.section_serv img{
	width:100%;
}

/*Fim da seção serviços*/

/*Estilo da seção contatos*/
.section_cont img{
	width:30px;

}

/*Fim da seção contatos*/

/*Estilo do rodapé*/
.footer_bottom{

}

/*Fim do rodapé*/
